*{ 
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* General Body */
body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
    font-family: 'Crimson Pro', serif; 
    font-size: large;
    font-weight: 200;
}

/* Wrapper dimensions */
.wrapper{
    width: 1150px;
    margin: 0 auto;
}

/* Navigation Decorations */
header{
    width: 100%;
    height: 100px;
    background-color: #bb33ff;
    margin-top: 0px;
    z-index: 12;
}

/* G1 Driving Test Logo */
.logo{
    float: left;
    line-height: 98px;
    width: 15%;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

/* Navigation bar content */
nav{
    float: right;
    line-height: 98px;
    font-size: 10px;
    margin: 5 10px;
}

/* Navigation bar options */
a {
    color: #ffffff;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

/* Hovering over options */
a:hover{
    color: #99cc00;
    transition: 0.3s;
}

/* Welcome Box*/
.Welcome_area{
    width: 40%;
    height: 300px;
    margin: auto;
    background-color: #E6E6FA;
    border-radius: 10px;
}

/* Ace your g1... text decorations */
h2{
    padding: 10px;
    text-align: center;
    margin-top: 2cm;
    font-style: italic;
    font-size: 1.2cm;
    color: #202020;
}

/* Start Button */
.start-button{
    height: 25px;
    margin-top: 3ch;
    padding: 0 13px;
    font-size: 18px;
    text-align: center;
    background-color: #bb33ff;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}

/* "Please enter your name:" */
.name_request{
    padding: 3px;
    margin-top: 0.3cm;
    text-align: center;
    font-size: 25px;
}

/* Name text box */
.text_box{
    padding: 3px;
    margin: auto;
    margin-top: 10cm;
    border-radius: 20px;
    border: none;
}

/* Select your vehicle: */
.vehicle_options{
    padding: 3px;
    margin-top: 0.3cm;
    text-align: center;
    font-size: 25px;
}

/* car button */
.car-button{
    margin-top: 0.3cm;
    margin-right: 15px;
    width: 70px;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff;
    background-color: #99cc00;
    border: none;
    border-radius: 20px;
}

/* motorcycle button */
.motorcycle-button{
    margin-top: 0.3cm;
    margin-left: 15px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    color:#ffffff;
    background-color: #99cc00;
    border: none;
    border-radius: 20px;
}


/* Moving pictures to correct positions */
.picQuestionPositioning{
    float: right;
    margin-right: 5cm;
    margin-top: 50px;
}

/* Moving "Next Button" to correct positions */
.nextButtonPositioning{
    float: right;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 10cm;
}